

#text {
    background-color: rgb(180, 176, 176);
    width: 100%;
    margin-bottom: 15px;
    position: relative;
    border: 1px solid black;
    padding: 20px;
    overflow: hidden;
    
  }

.col{
    padding-right: 40px;
    padding-left: 40px;
}

h1{
    font-size: 2em;
    margin-bottom: 50px;
    margin-top: 50px;
}

h2{
    font-size: 1.5em;
}